@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');
:root {
    --white: #F1F6F9;
    --grey: #9BA4B5;
    --lightblue: #394867;
    --darkblue: #212A3E;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'M PLUS Rounded 1c';
    color: var(--white);
    box-sizing: border-box;
}
*::-webkit-scrollbar {
    width: 0.5vw;
    height: 0.5vw;
}
*::-webkit-scrollbar-track {
    background: #00000000;
}
*::-webkit-scrollbar-thumb {
    background-color: var(--grey);
    border-radius: 1000vw;
}
h1 {
    font-size: 2vw;
    font-weight: 800;
}
h2 {
    font-size: 1.25vw;
    font-weight: 600;
    margin-right: 0.75vw;
}
.img {
    height: 4vw;
}
.img:hover {
    cursor: pointer;
}
.bg_lightblue {
    background-color: var(--lightblue);

}
body {
    background-color: var(--darkblue);
    width: 100vw auto;
    height: 100vw auto;
    overflow: none;
}
#div_logo {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 0 1vw 0;
    padding: 0.4vw 0.9vw 0.4vw 0.9vw ;
    height: 4vw;
}
#div_topmenubar {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 1vw 1vw;
    height: 4vw;
}
.divinmenuhor {
    padding: 0.5vw 0.75vw 0.5vw 0.75vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.background_input {
    border: solid 0.2vw var(--grey);
    border-radius: 0.5vw;
    background-color: var(--darkblue);
    padding: 0.5vw;
    font-size: 1vw;
    height: 2.25vw;
    min-width: 2.25vw;
}
.background_input:focus {
    outline: none;
}
#div_size {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 7vw;
    border-radius: 0 1vw 1vw 0;
}
.divinmenuvert {
    margin: 0.75vw;
}
#height {
    width: 5vw;
}
#width {
    width: 5vw;
}
#div_locset {
    display: flex;
    position: absolute;
    top: 5vw;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    width: 70vw;
    align-items: center;
}
#div_pixelset {
    display: flex;
    justify-content: center;
    align-items: center;
}
#pixelcolor {
    padding: 0.1vw;
    width: 6.5vw;
}

.divsetdivinput {
    display: flex;
    padding: 1vw;
    border-radius: 1vw;
    margin: 1vw;
    justify-content: center;
    align-items: center;
    height: 5.5vw;
}
.divseth2input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1vw;
}
#pixelcolor {
    background: none;
}
#SaveFrame {
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5vw;
    border-radius: 1vw;
}
#SaveFrame:hover {
    cursor: pointer ;
}
#div_LEDs {
    position: absolute;
    top: 15vw;
    left: 50%;
    transform: translateX(-50%);
    width: 80vw;
    max-height: 35vw;
    display: grid;
    grid-template-columns: repeat(15, 1fr); /* 15 Spalten */
    grid-gap: 0.5vw;
    overflow-y: scroll;
    overflow-x: hidden;
    /* padding: 0.5vw; */
}
.LED_Checkbox {
    width: 4vw;
    height: 4vw;
    border-radius: 0.5vw;
    background-color: var(--lightblue);
    appearance: none;
}
.LED_Checkbox:hover {
    cursor: pointer;
}
.LED_Checkbox:checked {
    transform: scale(1.1);
    background-color: transparent;
    border: 0.5vw solid var(--grey);
}
#div_tm {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90vw;
    overflow: hidden;
}
#tmLineSeperation {
    width: 80vw;
    height: 0.5vw;
    background-color: var(--white);
    border-radius: 100vw;
}
#div_tmLines {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 90vw;
}
.tmLineVert {
    height: 3vw;
    width: 1vw;
    background-color: var(--grey);
    border-radius: 100vw;
    margin: 0.2vw ;
    min-width: 0.75vw;
}
.tmLineVert:hover {
    cursor: pointer;
}
/* .tmLineVert:active {
    transform: scale(1.1);
    background-color: var(--white);
} */

#upload {
    /* background-image: url(./img/upload.png); */
    /* background-size: contain; */
    width: fit-content;
    appearance: none;
    content: 'upload';
    padding: 0.15vw;
}